/*Design de tout le site*/
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.page{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(224, 212, 212);
    align-items: center;
}

/*Design des informations personnelles*/
.infoP{
    background-position: top left;
    border: 2px rgb(34, 193, 221);
    border-radius: 2px;
    box-shadow: 2px 2px 5px 5px rgb(222, 231, 233); 
    width: 25%;
    min-width: 300px;
    text-align: center;
    text-decoration: none;
    margin-left:  10px;
    background-color: hsl(34, 33%, 96%);
}
.arriere{
    background-color: rgb(34, 193, 221) ;
    background-repeat: no-repeat;
    border-radius: 40px;
    box-shadow: 1px 1px 0px rgb(224, 214, 214);
}
h2{
    color:rgb(34, 193, 221) ;
}
#nom{
    color: white;
    text-shadow: 2px 2px 4px black; 
    position: relative;
    top: 10px;
}
#mini{
    height: 40px;
    width: 40px;  
}
img{
   border-radius: 50%; 
}
#tof{
    border: 5px white inset;
}
hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    
    width: 65%;
}
table,.qlt,#texty{
    text-align: justify;
    align-items: center;
    position: relative;
    left: 50px;
    font-weight: bold; 
}
.yoga{
    color: white;
    background-color:rgb(34, 193, 221);
    box-shadow: 1px 1px 0px rgb(224, 214, 214);
}
a{
    color: black;
    font-weight: bold;
}
a:hover{
    color: rgb(28, 117, 177);
    text-decoration: underline;
}

/*Design des informations supplementaire*/
.infoGeneral{
    background-color: white;
    border: 2px rgb(34, 193, 221);
    border-radius: 2px;
    box-shadow: 2px 2px 5px 5px rgb(222, 231, 233); 
    width: 50%;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 14px;
} 
#prop{
    font-size: 1.1em;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    flex: 3;
    font-size: 1.3em;
}
ul{
    text-align: left;
    position: relative;
    left: 60px;
    
}
.table{
    text-align: justify;
    font-weight: bold;
    position: relative;
    right:60px;
}
h3{
    font-style: italic;
}
ul{
    list-style: square ;
}
